/* * {
    border-style: dashed;
    border-color: red;
} */

html {
    background-color: rgb(22, 22, 22);
}

button {
    font-family: 'VT323', monospace;
}

body {
    margin: 0;
}


.title-text {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.game-container {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.game .scoreboard {
    display: flex;
    flex-direction: row;
}

.background {
    background-image: url('./assets/images/neon-city-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.hidden {
    display: none;
}