/* * {
    border-style: dashed;
    border-color: red;
} */

* {
    font-family: 'VT323', monospace;
}

:root {
    --primary: #73A6AD;
    --secondary: #4EFFEF;
    --accent: #FFD2FC;
    --dark: #001011;
    --light: #FCF7F8;
}

html {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

footer {
    color: var(--light);
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    z-index: 5;
}

a {
    color: var(--light);
}

.rounded {
    border-radius: 5px;
}

.title-text {
    text-transform: uppercase;
    color: var(--light);
    font-size: 2rem;
    text-align: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    gap: 2vh;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

#rules-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vw;
}

#rules-display div {
    font-size: 4rem;
}


#diagram {
    height: 10vw;
    width: 10vw;
}

.main-btn {
    font-size: 1.25rem;
}

.game-container {
    max-height: 400px;
    max-width: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 2vh;
    margin: 15%;
    margin-top: 5vh;
    gap: 2vh;
}

.game, .scoreboard, .scoreholder {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    border-radius: 5px;
}

.scoreboard {
    width: 100%;
}

.background {
    background-image: url('./assets/images/neon-city-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scoreholder {
    font-size: 3vw;
    font-size: 12px;
    width: 35%;
    background-color: var(--primary);
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.scoreboard p {
    font-size: 3vw;
    width: 20%;
    color: var(--light);
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--dark);
}

#player-name {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#cpu-name {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.progress-bar {
    width: 40%;
    height: 3vw;
    background-color: var(--light);
    border-radius: 2px;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0px 0px 2px var(--dark);
  }

.progress-bar-fill {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.75);
    transition: width 0.3s ease-in-out;
    margin: 1px;
    border-radius: 2px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

#choices-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    background-color: #fcf7f82b;
}

.choice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    max-width: 40%;
    aspect-ratio: 1;
    background-color: #fcf7f85b;
    transition: transform 0.2s;
    z-index: 2;
    border-radius: 30%;
}

.choice-btn i {
    font-size: 4vw;
}

.choice-btn:active:enabled {
    transform: scale(0.9);
}

.choice-btn:hover {
    background-color: darkgray;
}

#info-display {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 550;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: darkgrey;
    text-transform: uppercase;
    text-align: center;
    color: var(--light);
}

.char-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.choice-display {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    height: 10vw;
    width: 30vw;
    margin: 15px;
    /* background-color: white; */
}

.choice-display img {
    height: 100%;
    width: auto;
}

.mirrored-choice-display {
    justify-content: start;
}


.full-screen {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
}

#game-over {
    /* display: flex; */
    overflow: hidden;
    color: var(--light);
    flex-direction: column;
    background-color: var(--dark);
    gap: 2vh;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#reset-btn {
    padding: 5px;
}

.gif {
    position: relative;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 2%;
    transform: translateY(-15%);
}

.icon {
    height: 100%;
}

.show-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.gif.mirrored {
    transform: scaleX(-1) translateY(-15%);
}

.hidden {
    display: none;
}

/* GLITCH EFFECT CODE */
.glitch {
    font-size: 3rem;
    text-transform: uppercase;

    text-shadow:
        0.09em 0 0 rgba(255,0,0,0.75),
        -0.05em -0.005em 0 rgba(0,255,0,0.75),
        0.025em 0.05em 0 rgba(0,0,255,0.75);

        animation: glitch 300ms infinite;
}

@keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
}
  
/* Custom Scrollbar */
body {
    overflow-y: auto;
    scrollbar-width: thin; /* Hide the default scrollbar on Firefox */
  }
  
  /* Track styles */
  body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar track */
  }
  
  /* Thumb styles */
  body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  /* Button styles (optional) */
  body::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons (scroll up/down buttons) */
  }
  
  /* Hover styles (optional) */
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }